/.idea/
/.vs/
/Library/
/_ReSharper.*/
/Temp/
*.csproj
*.pidb
*.sln
obj/
*.suo
.DS_Store
build_info.txt
*.orig
*.orig.meta
*.userprefs
*.DotSettings.user
/ObfuscatorNameTranslation.txt
/ServerData/
/UserSettings

/Recordings/

/Build/
/build/
/build-*
*-build-wsa/
/bundle/

/gemvalley-webgl
/gemvalley-wsa
/harvestseason-webgl
/Logs
/gemvalley-ios/
/harvestseason-ios

/Assets/Plugins/Editor.meta
/Assets/Plugins/Editor/JetBrains.meta

/Assets/Resources/Match3Levels/*.bytes.meta
/Assets/Resources/FakeJs*
/Assets/Resources/Fake
/Assets/StreamingAssets.meta
/Assets/StreamingAssets/build_info.txt.meta
/Assets/StreamingAssets/aa
/Assets/StreamingAssets/aa.meta

/Assets/AddressableAssetsData/AnalyzeData/**
/Assets/AddressableAssetsData/AnalyzeData.meta
/Assets/AddressableAssetsData.meta

/Assets/Plugins/AddressableAssetsData/**/addressables_content_state.bin*
/Assets/Plugins/AddressableAssetsData/Android.meta
/Assets/Plugins/AddressableAssetsData/WebGL.meta
/Assets/Plugins/AddressableAssetsData/Linux.meta
/Assets/Plugins/AddressableAssetsData/iOS.meta
/Assets/Plugins/AddressableAssetsData/OSX.meta

/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta


/Assets/Plugins/Android/Firebase/res/values/google-services.xml
/Assets/Plugins/Android/Firebase/res/values/google-services.xml.meta
/Assets/Firebase/google-services.json*

/Assets/Plugins/Android/assets/api_key.txt
/Assets/Plugins/Android/assets/api_key.txt.meta

/Assets/Plugins/Android/res
/Assets/Plugins/Android/res.meta

/Assets/Resources/BuildInfo.txt*
/Assets/Plugins/Android/OneSignalConfig/res
/Assets/Plugins/Android/OneSignalConfig/res.meta

/FacebookInstantGames/*/game
/FacebookInstantGames*.zip

/Assets/Resources/Bundle.bytes
/Assets/Resources/Bundle.bytes.meta
/Assets/Resources/Bundle.hash
/Assets/Resources/Bundle.hash.meta
YandexGames/game
YandexGames/cert.pem
YandexGames/key.pem
